Source: ghpsdr3
Section: hamradio
Priority: Extra
Maintainer: Andrea Montefusco IW0HDV <andrew@montefusco.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libqt4-opengl-dev, qtmobility-dev, libusb-dev, libfftw3-dev, portaudio19-dev, libpulse-dev, libcodec2-0, xdg-utils, libconfig8-dev, libusb-1.0-0-dev
#
Standards-Version: 3.9.1
Homepage: https://github.com/alexlee188/ghpsdr3-alex/tree/master

#
# please add glutg3-dev on lucid
# lucid: autotools-dev, libqt4-opengl-dev, glutg3-dev, libusb-dev, libfftw3-dev, portaudio19-dev, libpulse-dev, libcodec2-0, xdg-utils, libjack-dev, libjack0, libconfig8-dev, libusb-1.0-0-dev
#
# please add qtmobility-dev on natty
# natty: autotools-dev, libqt4-opengl-dev, qtmobility-dev, libusb-dev, libfftw3-dev, portaudio19-dev, libpulse-dev, libcodec2-0, xdg-utils, libconfig8-dev, libusb-1.0-0-dev
#
# please add qtmobility-dev and remove glutg3-dev on oneiric
# oneiric: autotools-dev, libqt4-opengl-dev, qtmobility-dev, libusb-dev, libfftw3-dev, portaudio19-dev, libpulse-dev, libcodec2-0, xdg-utils, libconfig8-dev, libusb-1.0-0-dev
#
# ghpsdr3 (1.3~0ubuntu1ppa6~natty6) natty; urgency=high
#
#
#Vcs-Git: git://git.debian.org/collab-maint/ghpsdr3.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ghpsdr3.git;a=summary

Package: ghpsdr3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is a modification of the excellent SDR software by John Melton.
 The original sources are in an svn repo revision 1999. See: http://openhpsdr.org/wiki/index.php?title=Ghpsdr3

